.client-infos-card {

    &__header-title {
        display: flex;
        align-items: center;
        margin-right: auto;

        h1 {
            font-size: 20px;
        }

    }


    &__header-icon {
        height: 30px;
        margin-right: 10px;
    }

}