<mat-card>
    <mat-card-content>
        <form class="user-form" #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)" appPasswordConfirmationValidator>
            <!-- Deve colocar no formulário para que ele consiga pegar os value de dois controllers presentes -->
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-100">

                    <mat-label>Nome:</mat-label>
                    <input type="text" name="nome" matInput [(ngModel)]="userSelected.name" required />
                    <mat-error> O <strong> NOME </strong> é obrigatório! </mat-error>

                </mat-form-field>
            </div>

            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50">

                    <mat-label> Usuário:</mat-label>
                    <input type="text" name="usuario" matInput [(ngModel)]="userSelected.username"
                        [ngModelOptions]="{ updateOn: 'blur' }" #usernameControl="ngModel"
                        [appCredentialsValidator]="'username'" required />
                    <!-- #usernameControl é um template variable que acessa as prorpiedades do elemento -->

                    <mat-hint> O <strong> USUÁRIO </strong> será utilizado para o login. </mat-hint>
                    <mat-error *ngIf="usernameControl.hasError('required')"> O <strong> USUÁRIO </strong> é obrigatório!
                    </mat-error>
                    <mat-error
                        *ngIf="usernameControl.hasError('invalidUsername') && !usernameControl.hasError('required')">
                        Este <strong> USUÁRIO </strong> já está sendo utilizado! </mat-error>

                </mat-form-field>

                <mat-form-field class="user-form__item user-form__item-50">

                    <mat-label> E-mail:</mat-label>
                    <input type="text" name="email" matInput [(ngModel)]="userSelected.email"
                        [ngModelOptions]="{ updateOn: 'blur' }" #emailControl="ngModel"
                        [appCredentialsValidator]="'email'" appEmailPatternValidator required />

                    <mat-error *ngIf="emailControl.hasError('required')"> O <strong> E-MAIL </strong> é obrigatório!
                    </mat-error>
                    <mat-error
                        *ngIf="emailControl.hasError('invalidEmailPattern') && !emailControl.hasError('required')"> O
                        <strong> E-MAIL </strong> é inválido! </mat-error>
                    <mat-error *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')"> Este
                        <strong> E-MAIL </strong> já está sendo utilizado! </mat-error>

                </mat-form-field>
            </div>

            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label> Senha: </mat-label>
                    <input autocomplete="one-time-code" type="password" name="senha" matInput
                        [(ngModel)]="userSelected.password" (ngModelChange)="onPasswordChange($event)"
                        #passwordControl="ngModel" appPasswordStrengthValidator required />
                    <mat-error *ngIf="passwordControl.hasError('required')"> A <strong> SENHA </strong> é obrigatória!
                    </mat-error>
                    <mat-error
                        *ngIf="passwordControl.hasError('invalidPasswordStrength') && !passwordControl.hasError('required')">
                        Digite uma senhas mais <strong> FORTE </strong> !
                    </mat-error>
                    <mat-progress-bar [value]="passwordStrenghtValue" [ngClass]="{
                        'weak-password': passwordStrenghtValue === 0 || passwordStrenghtValue === 20,
                        'medium-password': passwordStrenghtValue === 60,
                        'strong-password': passwordStrenghtValue === 100
                    }"></mat-progress-bar>
                </mat-form-field>

                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label> Confirmação de senha </mat-label>
                    <input autocomplete="one-time-code" type="text" name="confirmarSenha" matInput ngModel
                        #passwordConfirmationControl="ngModel" required />
                    <mat-error *ngIf="passwordConfirmationControl.hasError('required')">
                        A <strong> CONFIRMAÇÃO DE SENHA </strong> é obrigatória!
                    </mat-error>
                    <mat-error
                        *ngIf="passwordConfirmationControl.hasError('invalidPasswordConfirmation') && !passwordConfirmationControl.hasError('required')">
                        As <strong> SENHAS </strong> estão incorretas!
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label> Data de nascimento: </mat-label>
                    <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" name="dataNascimento"
                        [ngModel]="dateValue" (dateChange)="onDateChange($event)" readonly required />
                    <!-- [] -> Apenas envia os dados -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel> Cancelar </button>
                            <button mat-raised-button matDatepickerApply> Confirmar </button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                    <mat-hint>dd/mm/aaaa</mat-hint>
                    <mat-error> A <strong> DATA DE NASCIMENTO </strong> é obrigatória! </mat-error>
                </mat-form-field>

                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label> Estados </mat-label>
                    <mat-select name="estado" [(ngModel)]="userSelected.state" required>
                        <mat-option> - </mat-option>
                        <mat-option *ngFor="let state of statesList" [value]="state.id"> {{ state.id }} </mat-option>
                    </mat-select>
                    <mat-error> O <strong> ESTADO </strong> é obrigatório! </mat-error>
                </mat-form-field>
            </div>

            <div class="user-form__row">
                <div class="user-form__musics">
                    <mat-divider></mat-divider>
                    <div class="user-form__musics-title">
                        <h2> Minhas Músicas: </h2>
                    </div>
                    <table class="user-form__item user-form__item-100" mat-table [dataSource]="userSelected.musics">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Título </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <mat-form-field>
                                    <mat-label> Título </mat-label>
                                    <input type="text" matInput [name]="'titulo' + i" [(ngModel)]="element.title" required />
                                    <mat-error> O <strong> TÍTULO </strong> é obrigatório! </mat-error>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="band">
                            <th mat-header-cell *matHeaderCellDef> Banda </th>
                            <td mat-cell *matCellDef="let element; let i = index"> 
                                <mat-form-field>
                                    <mat-label> Banda </mat-label>
                                    <input type="text" matInput [name]="'banda' + i" [(ngModel)]="element.band" required />
                                    <mat-error> A <strong> BANDA </strong> é obrigatória! </mat-error>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="genre">
                            <th mat-header-cell *matHeaderCellDef> Gênero </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <mat-form-field>
                                    <mat-label> Gênero: </mat-label>
                                    <input 
                                        type="text"
                                        matInput
                                        [name]="'genero-' + i" 
                                        [(ngModel)]="element.genre"
                                        (ngModelChange)="filterGenres($event)"
                                        [matAutocomplete]="auto"
                                        required
                                    />
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                                        <mat-option *ngFor="let genre of filterGenresList" [value]="genre.id"> {{ genre.description }} </mat-option>
                                    </mat-autocomplete>
                                    <mat-error> O <strong> GÊNERO </strong> é obrigatório! </mat-error>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="favorite">
                            <th mat-header-cell *matHeaderCellDef> Favorita </th>
                            <td mat-cell *matCellDef="let element; let i = index">  
                                <mat-checkbox [name]="'favorita-' + i" [(ngModel)]="element.isFavorite" [disabled]="isAnyCheckboxChecked() && !element.isFavorite"></mat-checkbox>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
            <div class="user-form__button-container" >
                <button type="submit" mat-raised-button color="primary" > Salvar </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>