<mat-card>
    <mat-card-content>
        <form class="user-form" #userForm="ngForm" appPasswordConfirmationValidator>
            <!-- Deve colocar no formulário para que ele consiga pegar os value de dois controllers presentes -->
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-100">

                    <mat-label>Nome:</mat-label>
                    <input 
                        type="text" 
                        name="nome" 
                        matInput 
                        [(ngModel)]="userSelected.name" 
                        required 
                    />
                    <mat-error> O <strong> NOME </strong> é obrigatório! </mat-error>

                </mat-form-field>
            </div>

            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50">

                    <mat-label> Usuário:</mat-label>
                    <input 
                        type="text"
                        name="usuario"
                        matInput
                        [(ngModel)]="userSelected.username"
                        [ngModelOptions]="{ updateOn: 'blur' }"
                        #usernameControl="ngModel"
                        [appCredentialsValidator]="'username'"
                        required
                    />
                    <!-- #usernameControl é um template variable que acessa as prorpiedades do elemento -->

                    <mat-hint> O <strong> USUÁRIO </strong> será utilizado para o login. </mat-hint>
                    <mat-error *ngIf="usernameControl.hasError('required')"> O <strong> USUÁRIO </strong> é obrigatório! </mat-error>
                    <mat-error *ngIf="usernameControl.hasError('invalidUsername') && !usernameControl.hasError('required')"> Este <strong> USUÁRIO </strong> já está sendo utilizado! </mat-error>

                </mat-form-field>

                <mat-form-field class="user-form__item user-form__item-50">

                    <mat-label> E-mail:</mat-label>
                    <input 
                        type="text"
                        name="email"
                        matInput
                        [(ngModel)]="userSelected.email"
                        [ngModelOptions]="{ updateOn: 'blur' }"
                        #emailControl="ngModel"
                        [appCredentialsValidator]="'email'"
                        appEmailPatternValidator
                        required
                    />

                    <mat-error *ngIf="emailControl.hasError('required')"> O <strong> E-MAIL </strong> é obrigatório! </mat-error>
                    <mat-error *ngIf="emailControl.hasError('invalidEmailPattern') && !emailControl.hasError('required')"> O <strong> E-MAIL </strong> é inválido! </mat-error>
                    <mat-error *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')"> Este <strong> E-MAIL </strong> já está sendo utilizado! </mat-error>

                </mat-form-field>
            </div>

            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label> Senha: </mat-label>
                    <input 
                        autocomplete="one-time-code"
                        type="password"
                        name="senha"
                        matInput
                        [(ngModel)]="userSelected.password"
                        (ngModelChange)="onPasswordChange($event)"
                        #passwordControl="ngModel"
                        appPasswordStrengthValidator
                        required
                    />
                    <mat-error *ngIf="passwordControl.hasError('required')"> A <strong> SENHA </strong> é obrigatória! </mat-error>
                    <mat-error *ngIf="passwordControl.hasError('invalidPasswordStrength') && !passwordControl.hasError('required')"> 
                        Digite uma senhas mais <strong> FORTE </strong> !
                    </mat-error>
                    <mat-progress-bar [value]="passwordStrenghtValue" [ngClass]="{
                        'weak-password': passwordStrenghtValue === 0 || passwordStrenghtValue === 20,
                        'medium-password': passwordStrenghtValue === 60,
                        'strong-password': passwordStrenghtValue === 100
                    }"></mat-progress-bar>
                </mat-form-field>

                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label> Confirmação de senha </mat-label>
                    <input 
                        autocomplete="one-time-code"
                        type="text"
                        name="confirmarSenha"
                        matInput
                        ngModel
                        #passwordConfirmationControl="ngModel"
                        required
                    />
                    <mat-error *ngIf="passwordConfirmationControl.hasError('required')">
                        A <strong> CONFIRMAÇÃO DE SENHA </strong> é obrigatória!
                    </mat-error>
                    <mat-error *ngIf="passwordConfirmationControl.hasError('invalidPasswordConfirmation') && !passwordConfirmationControl.hasError('required')">
                        As <strong> SENHAS </strong> estão incorretas!
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>  Data de nascimento: </mat-label>
                    <input
                        matInput
                        [matDatepicker]="picker"
                        [min]="minDate"
                        [max]="maxDate"
                        name="dataNascimento"
                        [ngModel]="dateValue" 
                        (dateChange)="onDateChange($event)"
                        readonly
                        required
                    /> 
                    <!-- [] -> Apenas envia os dados -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel> Cancelar </button>
                            <button mat-raised-button matDatepickerApply> Confirmar </button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                    <mat-hint>dd/mm/aaaa</mat-hint>
                    <mat-error> A <strong> DATA DE NASCIMENTO </strong> é obrigatória! </mat-error>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
</mat-card>