.container {
    display: flex;
    height: 100%;
}

.left-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    //organiza as div filhas na vertical 
}

.top-div {
    flex-grow: 1;
    //preenche todo o espaço disponível
}

.main-left-div {
    height: 80%;
    // preenche todo o espaço do seu container pai
}

.right-div {
    width: 30%;
    max-height: 100vh;
}