<div class="p-4">
    <p class="text-xl font-semibold"> Dependentes: </p>

    <div>
        <button class="rounded-md px-3 py-2 text-lg font-medium leading-5 text-white bg-green-300 hover:bg-green-200">
            Novo Dependente </button>

        <div class="my-4 grid grid-cols-2 sm:grid-cols-4 gap-4">
            <mat-form-field class="w-full">
                <mat-label> Nome: </mat-label>
                <input matInput placeholder="Fulano" value="Fulano">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label> Idade: </mat-label>
                <input matInput placeholder="Fulano" value="Fulano">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label> Documento: </mat-label>
                <input matInput placeholder="Fulano" value="Fulano">
            </mat-form-field>

            <div class="flex justify-center items-baseline box-border p-3">
                <button
                    class="rounded-md px-3 py-2 text-lg font-medium leading-5 text-white bg-red-300 hover:bg-red-200">
                    Deletar </button>
            </div>

            <hr class="block sm:hidden" />

            <mat-form-field class="w-full">
                <mat-label> Nome: </mat-label>
                <input matInput placeholder="Fulano" value="Fulano">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label> Idade: </mat-label>
                <input matInput placeholder="Fulano" value="Fulano">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label> Documento: </mat-label>
                <input matInput placeholder="Fulano" value="Fulano">
            </mat-form-field>

            <div class="flex justify-center items-baseline box-border p-3">
                <button
                    class="rounded-md px-3 py-2 text-lg font-medium leading-5 text-white bg-red-300 hover:bg-red-200">
                    Deletar </button>
            </div>

            <hr class="block sm:hidden" />

            <mat-form-field class="w-full">
                <mat-label> Nome: </mat-label>
                <input matInput placeholder="Fulano" value="Fulano">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label> Idade: </mat-label>
                <input matInput placeholder="Fulano" value="Fulano">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label> Documento: </mat-label>
                <input matInput placeholder="Fulano" value="Fulano">
            </mat-form-field>

            <div class="flex justify-center items-baseline box-border p-3">
                <button
                    class="rounded-md px-3 py-2 text-lg font-medium leading-5 text-white bg-red-300 hover:bg-red-200">
                    Deletar </button>
            </div>

            <hr class="block sm:hidden" />
            
        </div>
    </div>
</div>