<div class="p-4 max-w-screen-xl mx-auto">
    <mat-card>
        <mat-card-content>
           <app-users-list [usersList]="usersList"></app-users-list>
           <mat-tab-group [(selectedIndex)]="currentIndex">

                <mat-tab label="Geral">
                    <app-general-informatios [user]="usersList[0]"></app-general-informatios>
                </mat-tab>

                <mat-tab label="Contato">
                    <app-contact-informations [user]="usersList[0]"></app-contact-informations>
                </mat-tab>

                <mat-tab label="Dependente">Dependente</mat-tab>

           </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>