<div class="container">

  <div class="item">
    <!-- div de cima do lado esquerdo -->
    <app-available-balance></app-available-balance>
  </div>

  <div class="item">
    <!-- div de cima do lado direito -->
    <app-credit-card></app-credit-card>
  </div>

  <div class="item">
    <!-- div de baixo do lado esquerdo -->
    <app-debit-card></app-debit-card>
  </div>

  <div class="item">
    <!-- div de baixo do lado direito -->
    <app-customer-information></app-customer-information>
  </div>

</div>