<div class="p-4 bg-green-300">
    <div class="p-4 bg-yellow-300 grid lg:grid-cols-3 gap-4">
        <app-user-info-item title="Nome" [text]=" 'Fulana' "></app-user-info-item>
        <!-- Trabalha/Funciona como uma div -->
        <div>
            <p class="text-xl font-semibold">Email:</p>
            <p class="text-lg"> {{ 'fulano@gmail.com' }} </p>
        </div>
    </div>

    <div class="p-4 bg-blue-300 grid lg:grid-cols-3 gap-4">
        <div>
            <p class="text-xl font-semibold">País:</p>
            <p class="text-lg">Brazil</p>
        </div>
        <div>
            <p class="text-xl font-semibold">Estado:</p>
            <p class="text-lg">São Paulo</p>
        </div>
    </div>

    <div class="p-4 bg-pink-300 grid lg:grid-cols-3 gap-4">
        <div>
            <p class="text-xl font-semibold">Estado Civil:</p>
            <p class="text-lg">Solteira</p>
        </div>
        <div>
            <p class="text-xl font-semibold">Renda Mensal:</p>
            <p class="text-lg">R$ 5.555,55</p>
        </div>
        <div>
            <p class="text-xl font-semibold">Data de nascimento:</p>
            <p class="text-lg">10/06/2003</p>
        </div>
    </div>
</div>    