<div class="my-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6 ">
    <mat-form-field class="w-full">
        <mat-label> Tipo: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Rua: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Complemento: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> País: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Estado: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Cidade: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
</div>

<hr class="block lg:hidden" />

<div class="my-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6 ">
    <mat-form-field class="w-full">
        <mat-label> Tipo: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Rua: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Complemento: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> País: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Estado: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Cidade: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
</div>

<hr class="block lg:hidden" />

<div class="my-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6 ">
    <mat-form-field class="w-full">
        <mat-label> Tipo: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Rua: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Complemento: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> País: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Estado: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label> Cidade: </mat-label>
        <input matInput placeholder="Residencial" value="Residencial">
    </mat-form-field>
</div>

<hr class="block lg:hidden" />