.filter {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.form {
    width: 100%;
    height: 100%;    

    &__name {


    }

    &__date-picker {


    }

    &__status {

        
    }
}