.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    &__header {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        &--direction-column {
            flex-direction: column;
        }
    }

    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: justify;

    }

    &__image {

        width: 150px;

    }

}