<div class="container">

  <div class="item">

    <app-card>

      <app-card-header>
        <div class="card__header" card-header>
          <img src="assets/icons/icon-client.png" class="card__image" />
        </div>
        <!-- classe (fica no scss do pai, altera o diferencial) / atributo (vem do filho, onde está a casca do card) -->
      </app-card-header>


      <app-card-content>
        <div class="card__content" card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptates quis necessitatibus, quia
            doloribus
            earum, quidem vero id ipsum eveniet accusantium cupiditate repellendus sequi dolorem architecto consequuntur
            amet illum enim?
          </p>
        </div>
      </app-card-content>

    </app-card>

  </div>

  <div class="item">
    <app-card>

      <app-card-header>
        <div class="card__header card__header--direction-column" card-header>

          <h1> Isabela Dantas Fernandes </h1>
          <img src="assets/icons/icon-client.png" class="card__image" />
          <h3> Desenvolvedor Front-End </h3>

        </div>
      </app-card-header>

      <app-card-content>
        <div class="card__content" card-content>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem vero ducimus veritatis, atque
            facere
            dicta quis distinctio corporis ipsam? Delectus, laudantium inventore laboriosam quos iure quasi quas cumque
            facere odio!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, vitae excepturi odit aliquam culpa commodi
            distinctio eius eligendi debitis iste recusandae ipsum voluptate nihil eos reprehenderit nostrum quam at
            voluptates?
          </p>
        </div>
      </app-card-content>

    </app-card>
  </div>

</div>