<div class="p-4 grid gap-4">
    <div class="grid lg:grid-cols-3 gap-4">
        <mat-form-field class="w-full">
            <mat-label> Nome: </mat-label>
            <input matInput placeholder="Fulano de tal" value="Fulano">
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label> Email: </mat-label>
            <input matInput placeholder="Fulano@gamil.com" value="Fulano@gamil.com">
        </mat-form-field>
    </div>

    <div class="grid lg:grid-cols-3 gap-4">
        <mat-form-field class="example-full-width">
            <mat-label> País: </mat-label>
            <input type="text" placeholder="Brazil" matInput [matAutocomplete]="autoCountry">
            <mat-autocomplete #autoCountry="matAutocomplete">
                <mat-option *ngFor="let op of []">{{ '' }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label> Estado: </mat-label>
            <input type="text" placeholder="São Paulo" matInput [matAutocomplete]="autoState">
            <mat-autocomplete #autoState="matAutocomplete">
                <mat-option *ngFor="let op of []">{{ '' }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div class="grid lg:grid-cols-3 gap-4">
        <div class="w-full">
            <div class="text-lg"> Estado Civil: </div>
            <mat-radio-group>
                <mat-radio-button value="1"> Solteiro </mat-radio-button>
                <mat-radio-button value="2"> Casado </mat-radio-button>
                <mat-radio-button value="3"> Divorciado </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>