<div class="p-4 grid gap-4">
    <p class="text-2xl font-semibold"> Telefones: </p>

    <div class="grid lg:grid-cols-3 lg:gap-4">
        <mat-form-field class="example-full-width">
            <mat-label> Residencial: </mat-label>
            <input matInput placeholder="+55 11 1234-1234" value="+55 11 1234-1234">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label> Celular: </mat-label>
            <input matInput placeholder="+55 11 91234-1234" value="+55 11 91234-1234">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label> Telefone fixo: </mat-label>
            <input matInput placeholder="+55 11 91234-1234" value="+55 11 91234-1234">
        </mat-form-field>
    </div>

    <p class="text-2xl font-semibold"> Endereços: </p>

    <div>
        <div class="my-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6 ">
            <mat-form-field class="example-full-width">
                <mat-label> Tipo: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Rua: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Complemento: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> País: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Estado: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Cidade: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
        </div>

        <hr class="block lg:hidden" />

        <div class="my-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6 ">
            <mat-form-field class="example-full-width">
                <mat-label> Tipo: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Rua: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Complemento: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> País: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Estado: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Cidade: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
        </div>

        <hr class="block lg:hidden" />

        <div class="my-4 grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-6 ">
            <mat-form-field class="example-full-width">
                <mat-label> Tipo: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Rua: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Complemento: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> País: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Estado: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label> Cidade: </mat-label>
                <input matInput placeholder="Residencial" value="Residencial">
            </mat-form-field>
        </div>

        <hr class="block lg:hidden" />
    </div>
</div>